.DS_Store
.env
.env.*

# Node / Next.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next build artifacts
.next/
out/

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

